.headerRow {
  margin: 1rem 0;
  margin-bottom: 0px;
}
.headerRow span {
  color: #8c8d92;
  font-size: 24px;
  font-family: 'Londrina Solid';
}
.headerRow h1 {
  color: #14161b;
  font-size: 56px;
  font-family: 'Londrina Solid';
}
.headerRow p {
  color: #14161b;
}

.primaryBtnM {
  /** TODO: Fix blue inheritance */
  width: 100%;
  height: 4rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  /* border-radius: 12px; */
  background-color: #3B8526;
  border-top: 4px solid #6BC349;
  border-bottom: 4px solid #2A631D;
  border-radius: 0px;
  outline: none;
}
.primaryBtnM:focus,
.primaryBtnM:hover {
  background-color: #3B8526;
  border-top: 4px solid #6BC349;
  border-bottom: 4px solid #2A631D;
  border-radius: 0px;
}

.comment {
  margin-top: 35px;
  margin-bottom: 15px;
}

.disclaimer {
  color: gray;
  border-left: 1.5px solid lightgray;
  margin-top: 25px;
  padding-left: 8px;
  font-size: 12px;
}

.traitForm {
  height: 4rem;
}
.traitFormBtn {
  height: 100% !important;
  width: 110%;
  margin: 0.25rem 0;
  /* border-radius: 12px; */
  background-color: white !important;
  border-color: #e2e3e8 !important;
  font-size: 14px;
  font-weight: bold;
  color: #14161b;
}
.traitFormBtn:hover,
.traitFormBtn:focus {
  border-color: #e2e3e8 !important;
  background-color: #f4f4f8 !important;
  box-shadow: none !important;
}
.floatingLabel,
.fileUpload {
  font-size: 15px;
  color: #8c8d92;
}
.nounYearsFooter {
  font-style: italic;
}

.nounWrapper {
  margin-bottom: 1rem;
}

.nounskinImg:hover {
  cursor: pointer;
  transform: scale(1.01);
}

canvas {
  /*background: #e1d7d5;
   border-radius: 16px; */
  padding-top: 16px;
}

.canvaswrapper {
  position: relative;
}

.canvaswrapper button {
  width: 40px;
  height: 40px;
  border-radius: 10px;

  background-color: rgba(0,0,0,0.0);
  transition: all 0.2s;
  border: 0px;
}

.canvaswrapper button img {
  width: 100%;
}

.canvaswrapper button:hover {
  background-color: rgba(0,0,0,0.1);
}

.download {
  position: absolute;
  top: 12px;
  right: 14px;
}

.movement {
  position: absolute;
  top: 64px;
  right: 14px;
}

.selection {
  margin-bottom: 20px;
}